# packages in environment at /home/wafeng/anaconda3:
#
# Name                    Version                   Build  Channel
gdal                      3.7.3           py311h815a124_5    conda-forge
geojson                   3.1.0                    pypi_0    pypi
geomet                    1.1.0                    pypi_0    pypi
geopy                     2.4.0              pyhd8ed1ab_0    conda-forge
geos                      3.12.0               h59595ed_0    conda-forge
geotiff                   1.7.1               hf074850_14    conda-forge
gettext                   0.21.1               h27087fc_0    conda-forge
matplotlib                3.8.1           py311h38be061_0    conda-forge
netcdf4                   1.6.5           nompi_py311he8ad708_100    conda-forge
numpy                     1.26.0          py311h64a7726_0    conda-forge
python                    3.11.6          hab00c5b_0_cpython    conda-forge
scipy                     1.11.3          py311h64a7726_1    conda-forge
shapely                   2.0.2                    pypi_0    pypi
